/* .stButton button {
    background-color: green;
} */

.st-key-success button {
    background-color: green;
    color: white;
    border:none;
    opacity: 0.7;
}
.st-key-success button:hover {
    background-color: green;
    color: white;
    opacity: 1;
}
.st-key-warning button {
    background-color: orange;
    color: white;
    border:none;
    opacity: 0.7;
}
.st-key-warning button:hover {
    background-color: orange;
    color: white;
    opacity: 1;
}
.st-key-info button {
    background-color: blue;
    color: white;
    border:none;
    opacity: 0.7;
}
.st-key-info button:hover {
    background-color: blue;
    color: white;
    opacity: 1;
}
.st-key-danger button {
    background-color: red;
    color: white;
    border:none;
    opacity: 0.7;
}
.st-key-danger button:hover {
    background-color: red;
    color: white;
    opacity: 1;
}

.stTextInput input {
    background-color: whitesmoke;
}

.stSidebar {
    background-color: black;
    color: white;
}

.st-emotion-cache-4uzi61 {
    background-color: white;
}

.st-emotion-cache-1ne20ew {
    background-color: #fff;
}

h1{
    text-align: center;
}